
@{
    ViewData["Title"] = "Finish";
}

<h2>Your order has been accepted.</h2>


<p>  It will be delivered within two working days. </p>
<br />

<h4>  Thank you for being our client.</h4>
<br />

<p>   We look forward to you soon.</p>

