@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>


<p>   The company was found in 1991. Since then GobelinsWorld has been a leader in the production and distribution of its own hand-made gobeling kits with DMC threads</p>
<br />

<p>   Over this period we have established a distribution network across the country of Bulgaria and supply our customers with the best of the tapestry industry. As a natural piece of continuity, we find our online store as a great opportunity to establish a different type of communication with our clients and offer them an even better service.</p>
<br />

<p>   Note: If you experience any difficulties with our online store you can always contact us by phone or email. Proceed to "Contact us" page.</p>
