@model HomeIndexViewModel
@{
    Layout = "~/Shared/_Layout.cshtml";
}
@section CategoriesSideBar{ 
<ul>
        @foreach (var category in Model.Categories)
        {
            <li><a asp-area="Admin" asp-controller="Products" asp-action="All">@category.Name</a></li>
        }
    </ul>}